.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageTitle {
  position: absolute;
  top: 25%;
  font-size: 1.5rem;
  font-weight: 200;

  @media (max-width: 1024px) {
    top: 12%;
  }
}

.imgHolder {
  width: 300px;
  height: 300px;
  display: block;
  img {
    object-fit: cover;
    border-radius: 1.2rem;
  }
}
.innerContainer {
  border: 1px solid #eee;
  border-radius: 1.2rem;
  button {
    margin-top: 1.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.submitContainer {
  padding: 1.2rem;
}

.logOut{
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 0.5rem;
  }
}