.container {
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid #71d87d;
  background-color: #71d87d;
  color: white;
  font-size: 1.2rem;
  height: 65px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    transition: all 0.1s ease-in;
  }
  display: flex;
  align-items: center;
}

.loader {

}